# Python / FastAPI #
####################
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.env
.venv
*.log

# Static files uploaded by users
/app/static/images/

# Show Files created by users
/app-data/

# React / Node.js #
###################
node_modules/
build/
.npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*
coverage/
.pnp.*

# IDE and Editor #
##################
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Operating System #
####################
.DS_Store
Thumbs.db
